.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.btn-red {
    background-color: red;
}

.btn-blue {
    background-color: blue;
}

.btn-green {
    background-color: green;
    ;
}

.container {
    width: 250px;
    height: 250px;
    background-color: red;
    margin-top: 20px;
}